body {
  background: url("./grey_wash_wall.png");
    background-background-size: auto;
    background-background-repeat: repeat; }

.form-top [class^='col'] {
  margin-bottom: 50px; }

.form-group {
  width: 90% !important;
  margin: 0 auto; 
}
.form-top label {
  margin-top: 3 0px;
  padding-bottom: 5px; }

.top-top-row {
  margin-top: 40px; }

.row {
  margin-bottom: 0; }

.top-row {
  margin-top: 50px; }

.bott-row {
  margin-top: 150px;
  margin-bottom: 100px; }

p {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 50px 0 50px;
  line-height: 2em; }

.example .col {
  border: solid 2px #000; }

.example {
  width: 90%; }

pre {
  padding-top: 40px; }

.card {
  border: none;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.card-header, .card-footer {
  background-color: #77B877;
  color: #fff; }

.card-footer {
  padding-top: 30px;
  padding-bottom: 30px; }

.card {
  border: solid 1px black; }

.btn-default {
  background-color: #126112;
  border: solid 1px #000;
  margin-top: 15px;
  padding: 10px 30px 10px 30px;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }

.btn-default:active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); }

.btn-default:focus {
  outline: 0; }

.tooltip > .tooltip-inner {
  background-color: rgba(18, 97, 18, 0.8);
  border: solid 1px black;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
